<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

  <title>Nexus</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="/static/images/HD-Wallpaper.jpg" alt="">
      </div>
    </div>


    <div class="jumbotron">
        <h1 class="display-4">Your message sent successfully !</h1>
        <p class="lead">We will respond to your feedback soon</p>
        <hr class="my-4">
        <p>Check other features of website !</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
        </p>
      </div>


     <!-- footer section -->
<footer class="container-fluid footer_section">
    <p>
      &copy; <span id="currentYear"></span> All Rights Reserved. 
    </p>
  </footer>
  <!-- footer section --> 



    